/* Main structure */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
  max-width: 100%;
}

.testimonial-slider {
  display: flex;
  overflow: hidden;
  width: 70%;
}

.testimonial-card {
  min-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
  object-fit: cover;
}

.testimonial-content {
  text-align: center;
  position: relative;
}

.testimonial-content h4 {
  margin-top: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}

.testimonial-content h3 {
  color: #800000;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.testimonial-content p {
  color: #555;
}

.testimonial-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.testimonial-header h2 {
  font-size: 5em;
  color: #800000;
  margin: 0;
}

.testimonial-header h3 {
  font-size: 2em;
  color: #000;
  margin: 5px 0 10px 0;
  margin-top: 40px;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: #800000;
  margin: 0 auto;
}

.arrow {
  font-size: 2em;
  color: #800000;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow:hover {
  color: #800000;
}

/* Responsive for mobile devices */
@media (max-width: 768px) {
  main {
    height: auto;
    padding: 20px 10px;
  }

  .testimonial-header h2 {
    font-size: 2.5em;
  }

  .testimonial-header h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .testimonial-slider {
    width: 100%;
  }

  .testimonial-card {
    margin: 5px;
    padding: 10px;
  }

  .testimonial-avatar {
    width: 80px;
    height: 80px;
  }

  .testimonial-content h4 {
    font-size: 1em;
  }

  .testimonial-content h3 {
    font-size: 1.2em;
  }

  .testimonial-content p {
    font-size: 0.9em;
  }

  .arrow {
    font-size: 1.5em;
  }

  .left-arrow {
    left: 5px;
  }

  .right-arrow {
    right: 5px;
  }
}
